<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverUrl" value="http://api.smartmade.org/v1" />
    <add key="username" value="user" />
    <add key="password" value="user" />
    <add key="authenticationToken" value="" />
  </appSettings>
   <connectionStrings>
      <add name="DefaultConnection" providerName="System.Data.SqlClient"
            connectionString="Data Source=App_Data/store.sqlite;" />
   </connectionStrings>
</configuration>